In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\acer\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\acer\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: idna in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\users\acer\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\acer\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\acer\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\acer\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# importing necessary Library

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
import time

Q1) Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) View

In [3]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
# getting the web page
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)

In [25]:
# Creating empty list for scaping the data

Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [26]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [27]:
# Scraoing Name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

In [28]:
# Scraping Artist of the video
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

In [29]:
# Scraping Uploaded date of the video
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append("_")

In [30]:
# Scraping Views of videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [31]:
# Creating DataFrame fr scraped data
YouTube = pd.DataFrame({})
YouTube['Rank']=Rank
YouTube['Name']=Name
YouTube['Artist']=Artist
YouTube['Upload Date']=Upload_Date
YouTube['Views']=Views

In [32]:
YouTube

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.27,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.08,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.61,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.01,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.91,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.78,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.15,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,4.92,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.83,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.81,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.69,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.53,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.23,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.82,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.75,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.73,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.72,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.63,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.55,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.49,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.47,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.45,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.40,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.38,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.37,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.37,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.33,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.33,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.30,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,3.30,"June 14, 2018"

Q2. Scrape the details team India’s internationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [9]:
#finding menu button and click on it
menu_tag=driver.find_element(By.XPATH,'//*[@id="nav-main"]/div[1]')
menu_tag.click()

In [10]:
# finding international icon on bar and click on it
internation_icon= driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
internation_icon.click()

In [11]:
#finding fixtures and click on it
fixture_icon=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[1]/a')
fixture_icon.click()

In [12]:
# finding the web element and scrape the details for match title and place
match_title=[]
place=[]


m_place_tag=driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope" ]')
for i in m_place_tag:
    match_title.append((i.text).split('-')[0])
    place.append((i.text).split('-')[1])
print(len(match_title),len(place))

8 8

In [13]:
# finding web element and scrape the date
date=[]

date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
len(date)

8

In [14]:
time=[]

time_tag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    time.append(i.text)
time

['6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '6:30 PM IST',
 '6:30 PM IST',
 '9:30 AM IST',
 '9:30 AM IST',
 '1:30 PM IST']

In [15]:
# finding web element and scape series details
series=[]
temp=[]
series_tag=driver.find_elements(By.XPATH,'//h5[@class="fix-text"]')
for i in series_tag:
    temp.append(i.text)
for i in range(1,len(temp),2):
    series.append(temp[i])
series

['ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'ICC WOMENS T20 WORLD CUP 2023',
 'ICC WOMENS T20 WORLD CUP 2023',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23']

In [16]:
# scape title of the match
title=[]
title_tag=driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
for i in title_tag:
    title.append((i.text).replace('\n', ' '))
title

['India Women vs Pakistan Women',
 'India Women vs West Indies Women',
 'India vs Australia',
 'England Women vs India Women',
 'India Women vs Ireland Women',
 'India vs Australia',
 'India vs Australia',
 'India vs Australia']

In [17]:
#let's prepare Dataframe

bcci_tv= pd.DataFrame({'Series':series, 'Match Title': title, 'Matches':match_title, 
                       'Date': date, 'Time': time, 'Place': place})

print("\nUpcoming International Fixtures ")
bcci_tv

Upcoming International Fixtures

,Series,Match Title,Matches,Date,Time,Place
0,ICC WOMENS T20 WORLD CUP 2023,India Women vs Pakistan Women,1st T20I,12 FEB 2023,6:30 PM IST,"Newlands, Cape Town"
1,ICC WOMENS T20 WORLD CUP 2023,India Women vs West Indies Women,2nd T20I,15 FEB 2023,6:30 PM IST,"Newlands, Cape Town"
2,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,India vs Australia,2nd Test,17 FEB 2023,9:30 AM IST,"Arun Jaitley Stadium, Delhi"
3,ICC WOMENS T20 WORLD CUP 2023,England Women vs India Women,3rd T20I,18 FEB 2023,6:30 PM IST,"St George's Park, Gqeberha"
4,ICC WOMENS T20 WORLD CUP 2023,India Women vs Ireland Women,4th T20I,20 FEB 2023,6:30 PM IST,"St George's Park, Gqeberha"
5,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,India vs Australia,3rd Test,1 MAR 2023,9:30 AM IST,"Himachal Pradesh Cricket Association Stadium,..."
6,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,India vs Australia,4th Test,9 MAR 2023,9:30 AM IST,"Narendra Modi Stadium, Ahmedabad"
7,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,India vs Australia,1st ODI,17 MAR 2023,1:30 PM IST,"Wankhede Stadium, Mumbai"

In [18]:
driver.close()

Q3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [20]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [21]:
# getting the web page
url=' http://statisticstimes.com/'
driver.get(url)

In [30]:
#find economy drop button and click on it
economy_tag=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]')
economy_tag.click()

india_tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india_tag.click()

In [31]:
# find India GDP and click on it
india_gdp=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india_gdp.click()

In [32]:
# finding web elements and scrape the details of all the required field
rank=[]
rank_tag=driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in rank_tag[:33]:
    rank.append(i.text)
len(rank)

33

In [33]:
state=[]
state_tag=driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in state_tag[:33]:
    state.append(i.text)
len(state)

33

In [34]:
gsdp18_19= []
gsdp_tag= driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_tag[:33]:
    gsdp18_19.append(i.text)
len(gsdp18_19)

33

In [35]:
share=[]
share_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
for i in share_tag:
    share.append(i.text)
    
len(share)

33

In [36]:
gsdp19_20=[]
gsdp19_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
for i in gsdp19_tag:
    gsdp19_20.append(i.text)
len(gsdp19_20)

33

In [37]:
gdp_bill=[]
gdp_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
for i in gdp_tag:
    gdp_bill.append(i.text)
len(gdp_bill)

33

In [38]:
len(rank),len(state), len(gsdp18_19), len(gsdp19_20), len(share),len(gdp_bill)

(33, 33, 33, 33, 33, 33)

In [40]:
# preparing the data frame
GDP_states= pd.DataFrame({'Rank':rank, 'State':state, 'GSDP 18-19':gsdp18_19, 'GSDP 19-20':gsdp19_20,
                         'Share 18-19':share, 'GDP ($ Billion)':gdp_bill})
print("Indian States by GDP\n")
GDP_states

Indian States by GDP

,Rank,State,GSDP 18-19,GSDP 19-20,Share 18-19,GDP ($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [41]:
driver.close()

QScrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [63]:
url=("https://www.billboard.com")
driver.get(url)

In [66]:
#Clicking on hot 100
Search=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[2]/h3/a").get_attribute('href')
driver.get(Search)

In [71]:
#web element for song title
xyz_tag=driver.find_elements(By.ID, "title-of-a-story")
xyz=[]
for i in xyz_tag:
    xyz.append(i.text)
len(xyz)

419

In [72]:
# scraping meaningful data, here songs from scarpe data
song = list(filter (lambda k: k!= '', xyz))
song=song[:100]

In [73]:
len(song)

100

In [74]:
# scrape web elemnt for artist and scrape the details
artist=[]
art_tag= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in art_tag:
    artist.append(i.text)
len(artist)

100

In [75]:
# find web elements of all the required field and scrape them.
last_rank=[]
last_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]')
for i in last_tag:
    last_rank.append(i.text)
len(last_rank)

100

In [76]:
peak_rank=[]
peak_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')
for i in peak_tag:
    peak_rank.append(i.text)
len(peak_rank)

100

In [77]:
weeks_on=[]
w_board_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[5]/span')
for i in w_board_tag:
    weeks_on.append(i.text)
len(weeks_on)

100

In [78]:
# preparing dataframe
hot_100= pd.DataFrame({'Song Title':song, 'Artist':artist, 'Last week Rank':last_rank, 'Peak Rank':peak_rank,
                     'Weeks On Board':weeks_on})
print("Hot 100 in BillBoard\n")
hot_100

Hot 100 in BillBoard

,Song Title,Artist,Last week Rank,Peak Rank,Weeks On Board
0,Flowers,Miley Cyrus,,,
1,Kill Bill,SZA,,,
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",,,
3,Anti-Hero,Taylor Swift,,,
4,Unholy,Sam Smith & Kim Petras,,,
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,,,
96,Gato de Noche,Nengo Flow & Bad Bunny,,,
97,Heart To Heart,Mac DeMarco,,,
98,Never Gonna Not Dance Again,P!nk,,,
99,Dancin' In The Country,Tyler Hubbard,,,

In [79]:
driver.close()

Q.6 Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [80]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [81]:
# getting the web page
url= 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [82]:
# finding the web element of all the required details and scrape them.
book=[]
book_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in book_tag:
    book.append(i.text)
len(book)

100

In [83]:
author=[]
author_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in author_tag:
    author.append(i.text)
len(author)

100

In [84]:
volume=[]
sold_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in sold_tag:
    volume.append(i.text)
len(volume)

100

In [85]:
publisher=[]
publish_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in publish_tag:
    publisher.append(i.text)
len(publisher)

100

In [86]:
genre=[]
genre_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in genre_tag:
    genre.append(i.text)
len(genre)

100

In [87]:
len(book), len(author), len(volume),len(publisher), len(genre)

(100, 100, 100, 100, 100)

In [88]:
# preparing Dataframe
Novels=pd.DataFrame({'Book Title':book, 'Author':author, 'Volume Sales':volume,
                    'Publisher':publisher, 'Genre':genre})
print("List of Highest Selling Novel's\n")
Novels

List of Highest Selling Novel's

,Book Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [89]:
driver.close()

Q7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [90]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [91]:
# getting the web page
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [92]:
# finding the web element for all the required details and scrape them.
tv_name=[]
year_span=[]
tv_tag=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')
for i in tv_tag:
    tv_name.append((i.text).split('(')[0])
    year_span.append((i.text).split('(')[1])

len(tv_name),len(year_span)

(100, 100)

In [93]:
genr=[]
gen_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for i in gen_tag:
    genr.append(i.text)
len(genr)

100

In [95]:
run_time=[]
run_tag=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[3]')
for i in run_tag:
    run_time.append(i.text)
len(run_time)

100

In [96]:
rating=[]
rate_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in rate_tag:
    rating.append(i.text)
len(rating)

100

In [97]:
votes=[]
temp=[]
vote_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[2]')
for i in vote_tag:
    temp.append(i.text)
for i in range(1,len(temp),2):
    votes.append(temp[i])
len(votes)

100

In [98]:
# preparing dataframe
Tv_Series=pd.DataFrame({'Series Name':tv_name, 'Year Span':year_span, 'Genre':genr,
                       'Run Time': run_time, 'Rating':rating, 'Votes': votes})
print("Top 100 most watched TV Series\n")
Tv_Series

Top 100 most watched TV Series

,Series Name,Year Span,Genre,Run Time,Rating,Votes
0,1. Game of Thrones,2011–2019),"Action, Adventure, Drama",572 min,9.2,"2,123,418"
1,2. Stranger Things,2016–2024),"Drama, Fantasy, Horror",330 min,8.7,"1,211,331"
2,3. The Walking Dead,2010–2022),"Drama, Horror, Thriller",88 min,8.1,"1,007,160"
3,4. 13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",70 min,7.5,"297,156"
4,5. The 100,2014–2020),"Drama, Mystery, Sci-Fi",62 min,7.6,"256,093"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),Drama,22 min,7.4,"50,741"
96,97. A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",22 min,7.8,"62,626"
97,98. Criminal Minds,2005– ),"Crime, Drama, Mystery",22 min,8.1,"202,988"
98,99. Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",22 min,7.1,"42,049"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",22 min,8.6,"250,818"

In [99]:
driver.close()

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [100]:
# getting web driver
driver=webdriver.Chrome(r'C:\Users\Acer\Downloads\chromedriver_win32\chromedriver.exe')

In [101]:
# getting the web page
url ='https://archive.ics.uci.edu/'
driver.get(url)

In [102]:
# finding web element and clicking on view all tab.
view_all_tag=driver.find_element(By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a')
view_all_tag.click()

In [103]:
# finding web element for all the required details and scrape them
dataset=[]
ds_name_tag=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in ds_name_tag:
    dataset.append(i.text)
len(dataset)

622

In [104]:
data_type=[]
type_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in type_tag[1:]:
    data_type.append(i.text)
len(data_type)

622

In [105]:
task=[]
task_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in task_tag[1:]:
    task.append(i.text)
len(task)

622

In [106]:
attribute_type=[]
attri_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in attri_tag[1:]:
    attribute_type.append(i.text)
len(attribute_type)

622

In [107]:
instance=[]
instance_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in instance_tag[1:]:
    instance.append(i.text)
len(instance)

622

In [108]:
num_attribute=[]
num_attri_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in num_attri_tag[1:]:
    num_attribute.append(i.text)
len(num_attribute)

622

In [109]:
Year=[]
y_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in y_tag[1:]:
    Year.append(i.text)
len(Year)

622

In [110]:
# preparing dataframe
Datasets= pd.DataFrame({'Dataset Name':dataset,'Data Type': data_type, 'Task': task, 
                       'Attribute Type':attribute_type, 'Instances':instance, 
                        'Number Of Attribute': num_attribute, 'Year':Year})
print("List of all the Dataset Present in the site.")
Datasets

List of all the Dataset Present in the site.

,Dataset Name,Data Type,Task,Attribute Type,Instances,Number Of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021