# Q1. Write SQL query to create table Customers

In [9]:
import sqlite3

db = sqlite3.connect("customer_database.db")

In [10]:
cursor = db.cursor()

In [13]:
cursor.execute("CREATE TABLE customer_database(customer_number INT PRIMARY KEY, customer_name TEXT, contactLastName TEXT, ContactFirstName, TEXT, phone INT, addressLine1 TEXT, addressLine2 TEXT, city TEXT, state TEXT, postalcode INT, salesRepEmployeeNumber INT, creditlimit INT )")

# Q2. Write SQL query to create table orders

In [22]:
cursor.execute("CREATE TABLE orders(orderNumbers INT, orderDate DATE, requiredDate DATE, shippedDate DATE, status TEXT, comments TEXT, customerNumber INT)")

# Q3. Write SQL query to show all the columns data from the Orders Table

In [23]:
result = cursor.execute("SELECT * FROM orders")
for row in result:
    print(row)

# Q4.Write SQL query to show all the comments from the OrdersTable

In [24]:
result = cursor.execute("SELECT * FROM orders")
for row in result:
    print(row)

# Q5.Write a SQL query to show orderDate and Total number of orders placed on that date, from Orderstable

In [35]:
result = cursor.execute("SELECT COUNT(orderNumbers), orderDate FROM orders")

# Q.6 Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table

In [26]:
cursor.execute("CREATE TABLE employees(employeeNumbers INT, lastName TEXT, firstName TEXT, extension INT, email TEXT, officeCode INT, reportsTo TEXT, jobTitle TEXT)")

In [28]:
result = cursor.execute("SELECT employeeNumbers, lastName FROM employees")
for row in result:
    print(row)

# Q.7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order

In [45]:
result = cursor.execute ("SELECT orderNumbers, customer_Name FROM orders, customer_database WHERE orderNumbers = customer_Name")

# Q.8 Write a SQL query to show name of all the customers in one column and salerepemployee name inanother column.

# Q.9 Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.